

body {
	font-size: 16px;
	font-family: helvetica;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	color: #757575;
	position: absolute;
	width: 100%;
	top: 0;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

.page-wrap {
	margin-left: auto;
	margin-right: auto;
	width:100%;
}

#header {
	background-color: #f5f5f5;
	padding-bottom: 30px;
	padding-top: 30px;
	text-align: center;
}

.name {
	line-height: 30px;
	font-weight: 700;
	font-size: 80px;
	letter-spacing: -2px;
	color:#eb6f63;
}

.name span {
	color:#576474;
}

#add-item-container {
	width: 100%;
}

.add-to-do {
	width: 65%;
	height: 49px;
	margin: 0 -2px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	float: left;
	border: 2px solid #eee;
	border-right: 2px solid #fff;
	background: #fff;
	color: #757575;
	font-size: 16px;
}


.submit {
	width: 34%;
	height: 55px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	display: inline-block;
	font-weight: 700;
	cursor: pointer;
	color: #fff;
	padding: 14px 0;
	background-color: #46B846;
	border: #46B846;
	font-size: 20px;
}

.submit:hover {
	background-color: #66C266;
}



#icon-container {
	height: 53px;
	background: transparent;
	width: 30%;
	min-width: 180px;
	margin: 0 auto;
	padding-top: 10px;
}

#trash {
	width: 50%;
	height: 53px;
	float: left;
	background: transparent;
}

#trashpic {
	height:90%;
	width: auto;
	padding:3%;
	cursor:pointer;
}

#refresh {
	width: 50%;
	height: 53px;
	float: left;
	background: transparent;
}

#refreshpic {
	height:90%;
	width: auto;
	padding:3%;
	cursor: pointer;
}

.list-change-wrap {
	padding: 2% 5%;
	position:relative;
	text-align: center;
	width:600px;
	margin:5px auto;
	max-width: 80%;
	overflow: hidden;
	border:2px solid #eee;
	background-color: white;
}

.list {
	list-style:none;
}

.item-container {
	display: list-item;
	overflow:hidden;
	margin:10px 0;
	background: #f5f5f5;
	border-radius: 3px;
	position:relative;
	width: 100%
}

.to-do-item {
	width:80%;
	height:16px;
	text-align: left;
	padding-left:0;
	float: left;
	margin-left: 10px;
	background: transparent;
	font-size: 16px;
	color:#757575;
	line-height: normal;
	overflow: visible;
	padding: 14px 0%;
	border: 2px solid transparent;
	border-radius: 0;
}

.change-status {
	height:48px;
	width:45px;
	float:right;
	color:#757575;
} 

.incomplete {
}

.complete {
	background-color:#ddf8de;
	color: #3ca13c;
}

.delete {
	background-color: #f8ddd4;
	color: #a1543c;
}


.change-status {
	cursor: pointer;
	float: right;
	height: 25px;
	width: 25px;
	background: url('../images/square.png') no-repeat;
	margin: 11px;
}

.complete-icon {
	cursor: pointer;
	float: right;
	height: 25px;
	width: 25px;
	background: url('../images/check-mark.png') no-repeat;
	margin: 11px;
}

.delete-icon {
	cursor: pointer;
	float: right;
	height: 22px;
	width: 22px;
	background: url('../images/x-mark.png') no-repeat;
	margin: 13px;
}












